.logo {

    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-image {
    display: flex;
    align-self: center;
}
.cards {
    display: flex;
    flex-direction: row;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #47c2b1;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
}
.nav {
    display: flex;
    justify-content: space-evenly;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #47c2b1;
    font-weight: bolder;
    color: white;
}
.title {
    display: flex;
    justify-content: center;
    
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
