.logo {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: -20px;
}
.header-image {
    display: flex;
    align-self: center;
    padding-top: 25px;
}
.cards {
    display: flex;
    flex-direction: row;
background-color: #c9d6df;
color: #001b36;
padding-bottom: 3%;
    
}

.cards-iv{

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: #c9d6df;
    color: #001b36;
    padding-bottom: 3%;
    

}


.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #47C2B1;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.nav-buttons{
    background-size: auto;
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
    color: #F0F5F9;
    background-size: 50%;
}
.nav :hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: #000000;
}


body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
background-color:#c9d6df;
color: #001b36;
text-align: center;
}
.nav {
    display: flex;
    justify-content: space-evenly;
}
.country-images{
    height: 400px;
    width: 100%;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #47C2B1;
    font-weight: bolder;
    color: white;
}
.title {
    display: flex;
    justify-content: center;
    
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}

.border {
    border-style: solid;
    border-width:  medium;
    border-color: #ff8576;
    box-shadow: 0 4px 8px 0;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 10px;
    background-color: #f0f5f9;
    
}
